# Temporary files
*.swp
*~

# Directories
msdfiles/
runfiles/
results/
eo/
figs/
gridAveMSDdata/
sandbox/
paperFigs/
Drive/

# Input parameters
initParams.m
initAnalyzeParams.m
initSetupParams.m

# Outputs, logs, etc.
*.avi
*.mat
*.txt
*.log
*.out
*.fig
*.jpg
*.png

#include some txt
!runkey.txt
