# Temporary files
*.swp
*~

# Directories
msdfiles/
runfiles/
results/
eo/
figs/

# Input parameters
initparams.m
initAnalyzeParams.m
initSetupParams.m

# Outputs, logs, etc.
*.avi
*.mat
*.txt
*.log
*.out

