# Temporary files
*.swp
*~

# Directories
msdfiles/
runfiles/
results/
eo/
figs/

# Input parameters
initParams.m
initAnalyzeParams.m
initSetupParams.m

# Outputs, logs, etc.
*.avi
*.mat
*.txt
*.log
*.out
*.fig
*.jpg

#include some txt
!runkey.tx
